@{
    Layout = "~/_Layout1.cshtml";
     Page.Title = string.Format("Razor - {0}", "WebGrid Selected Destination");
}

@section banner{
    <h1>Selecting Row on WebGrid</h1>
}

<h3>You passed the product id of @Request.QueryString["pid"]</h3>

